*{margin:0;
    padding:0;
    }   
   body{background:grey  url(http://pqrk745j5.bkt.clouddn.com/wall.jpg) no-repeat center center;
       background: cover;
     }  
   #keying{
     width:800px;
     text-align: center;
     margin: 500px auto;
     border:1px solid rgba(255, 255, 255, 0.1);
     border-radius: 7px;
     background: rgba(255, 255, 255, 0.2);
     } 
   #keying .row{
    margin: 20px;
    }    
    #keying > div:nth-child(1){margin-left:40px; 
    } 
    #keying > div:nth-child(2){margin-left: 10px; 
     } 
   #keying > div:nth-child(3){margin-left: -60px;
     } 
   #keying .row .key{
       border:1px solid #373737;
       border-radius: 7px;
       background: linear-gradient(to bottom, #292929 0%,#111111 100%); 
       display: inline-block;
       width:50px;
       height:40px;
       text-transform: uppercase;
       position: relative;
       color:white;
       font-family: Arial, Helvetica, sans-serif;
       box-shadow:0 0 0 1px #1A1B1C,0 0 0 2px #1F2020,0 3px 0 2px #080808;
       margin-right: 20px; 
       display:inline-flex;
       justify-content: center; 
       align-items: center; 
   }
   #keying .row .key button{
       position: absolute;
       right:0;
       bottom:0;
       display: none;
       font-size: 1PX;
     
   }
   #keying .row .key:hover button{
       display: inline-block;
   }
   
   #keying .row .key img{
     width:15px;
     height:15px;  
     position: absolute;
     left:0px;
     bottom:0px;  
     }
     